.CartLink img {
 
 background-color: transparent;
  width: 25px;
  padding: 5px;
  position: relative;
  top: 10px;
  right: 15px;
}
.CartLink span {
  text-decoration: none;
  color: white;
  position: relative;
  right: 35px;
  top: -17px;
  font-size: 12px;
 
}