.CartLink img {
  background-color: transparent;
  width: 25px;
  padding: 5px;
  position: relative;
  top: 8px;
  right: 1rem;
}
.CartLink span {
  text-decoration: none;
  color: white;
  position: relative;
  right: 2.3rem;
  top: -16px;
  font-size: 12px;
}
