.Logo {
  font-size: 1.3rem;
  font-weight: 900;
  margin: 0 1rem;
  color: white;
  text-align: center;

  padding: 10px 0 0 0;
  font-family: Muli, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: -2rem;
}

@media (max-width: 620px) {
  .Logo {
    padding-left: 150px;
  }
}
/* #e49936 */
