.Logo {
  font-size: 1.3rem;
  font-weight: 900;
  margin: 0 1rem;
  color: white;
  text-align: center;
  
 


  
  
  padding: 10px 0 0 0;
  font-family: Muli,sans-serif;
  position: relative;
  left: -35px;

 
}

@media (max-width: 620px) {
  .Logo  {
    padding-left: 70px;
  }
} 
/* #e49936 */