.CartButton {
  padding: 10px 15px;
  background-color: black;
  color: white;
  font-family: Muli, sans-serif;
  margin: 5px;
  border-radius: 10px;
  cursor: pointer;
}
.CartButton:hover {
  color: rgb(224, 221, 221);
}
