.Toolbar {
  background-color: #020202;
  color: black;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.Toolbar .container {
  /* display: flex; */
  align-items: center;
  justify-content: space-evenly;
}
.Toolbar .nav1 {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 40px;
}

@media (max-width: 620px) {
  .Toolbar .nav2 {
    display: none;
  }
  .Toolbar .nav1 div:first-of-type {
    display: none;
  }
}
