.CheckoutItem {
  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;
  width: 100%;

  text-align: center;
  padding: 20px 0;
  font-family: Mulli, sans-serif;
  color: white;

  background-color: white;
  font-weight: bold;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}
.CheckoutItem input {
  width: 100%;
  max-width: 550px;
  font-size: 1.4rem;
  border: none;
  outline: none;

  color: black;
  border-bottom: 2px solid black;
  padding: 15px 0;
}

.CheckoutItem label {
  font-size: 1.2rem;
  width: 100%;
  max-width: 500px;
  color: black;
}
.CheckoutItem .order {
  width: 100%;
  max-width: 250px;
  padding: 10px;
  margin-top: 15px;
  font-size: 1rem;
  font-weight: bold;
  background-color: #020202;
  border: 2px solid black;
  color: white;
  cursor: pointer;
  text-align: center;
  position: relative;
  left: 0.5rem;
  border-radius: 15px;
}
.CheckoutItem .order:hover {
  color: rgb(216, 213, 213);
}
@media (max-width: 630px) {
  .CheckoutItem .order {
    position: relative;
    left: 0.2rem;
  }
}
