/* .InputSearch {
  margin: 10px 0 0 0;
} */
.InputSearch input {
  margin: 10px 0 10px 10px;
  padding: 1px;
  width: 140px;
  display: inline-block;

}
.InputSearch button {
  margin-bottom: 0;
  padding: 0;
  background-color: rgb(10, 1, 1);


}
.InputSearch button svg  {
  
  padding: 0;

  width: 16px;
  height: 13px;
  color: white;
  display: inline-block;
  

}

@media (max-width: 620px) {
  .InputSearch  input,button{
    display: none;
  }
} 