.NavIcon  {
  padding-right: 20px;
}
.NavIcon  svg  {
  padding: 10px;
  color: white;
  cursor: pointer;

}

@media (max-width: 620px) {
  .NavIcon  {
   flex-wrap: nowrap;
   padding-right: 0;
   position: relative;
   bottom: -8px;
  }
} 