.ProductItem {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 300px;
  height: 400px;
  margin: 15px;
  background-color: black;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.ProductItem img {
  height: 150px;
  width: 100%;
  max-width: 210px;
  background-color: white;
  position: relative;
  top: 40px;
  right: -3rem;
  text-align: center;
}
.ProductItem :hover img {
  transform: scale(1.05);
}
/* .container {
  padding: 15px;
 
 
} */
.ProductItem a:last-of-type {
  color: white;
  font-size: 1.2rem;
  text-align: center;
  text-decoration: none;

  text-decoration: none;
  border-bottom: 3px solid transparent;
  font-family: Muli, sans-serif;

  font-weight: bold;
  display: flex;
  justify-content: center;
  position: relative;
  top: 60px;
}

.ProductItem a:last-of-type {
  border-bottom: 2px solid white;
}

.ProductItem:hover {
  box-shadow: 1px 1px 18px 0 rgb(19, 19, 19);
}
/* .price {
  color: black;
  text-decoration: none;
  font-family: "Louis Vuitton Web","Helvetica Neue","Helvetica",Arial,sans-serif;
  padding: 5px;
} */
.ProductItem .price {
  position: relative;
  top: 2rem;
  z-index: 3;
  right: -6rem;

  font-weight: bold;

  font-size: 1.2rem;
  color: white;

  padding: 20px;

  width: 50px;
  text-align: center;

  margin-top: 7px;
  text-decoration: none;
  border-bottom: 3px solid transparent;
  font-family: Muli, sans-serif;

  font-weight: 700;
}

.ProductItem .cart {
  border: none;
  outline: 0;
  padding: 5px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
  /* position: relative;
  bottom: -3.9rem; */
  margin: 5px 5px 0 0;
}
.ProductItem .cart:hover {
  opacity: 0.7;
}

@media (max-width: 620px) {
  .ProductItem {
    flex-wrap: wrap;
  }
  /* .ProductItem a:last-of-type {
    color: black;
    font-size: 1.2rem;
    text-align: center;
    text-decoration: none;

    text-decoration: none;
    border-bottom: 3px solid transparent;
    font-family: Muli, sans-serif;

    font-weight: bold;
    display: flex;
    justify-content: center;
    position: relative;
    top: 30px;
    right: -2rem;
  }
  .ProductItem .price {
    position: relative;
    top: -0.5rem;
    z-index: 3; */
  /* right: -6rem;

    font-weight: bold;

    font-size: 1.2rem;
    color: rgb(119, 117, 117);

    padding: 20px;
    width: 50px;
    text-align: center;

    margin-top: 7px;
    text-decoration: none;
    border-bottom: 3px solid transparent;
    font-family: Muli, sans-serif;

    font-weight: 700;
  }
  .ProductItem .cart {
    border: none;
    outline: 0;
    padding: 5px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 150px;
    font-size: 16px;
    position: relative;
    bottom: -11rem;
    left: -9rem;
    margin: 5px 5px 0 0;
  } */
}
/* .ProductItem img {
  max-width: 200px;
  object-fit: cover;
  object-position: center;


  box-shadow: 0 0 10px rgba(0, 0, 0, .3);
  z-index: 2;
}
.ProductItem {
  position: relative;
  /* /* flex: 0 0 30%;
  margin-bottom: 5rem; 
  margin-top: 1rem; 
  
}
.ProductItem a {
  position: absolute;
  top: 15rem;
  padding-top: 0;
  right: 15px;
  left: 15px;
  border-radius: 50%;
  border-top-left-radius: 0;
  border-top-right-radius: 0;


  
  
  background-color: white;
  color: black;
  
  font-size: 16px;
  padding: 15px ;
  
  text-align: center;
  

  box-shadow: 0 0 10px rgba(0, 0, 0, .3);
}
.ProductItem .price {
  position: absolute;
  top: -0.8rem;
  z-index: 3;
  font-weight: bold;
  
  
  background-color: white;
  color: black;
 
  font-size: 1rem;
  padding: 0.8rem;
  text-align: center;
  border-radius: 50%;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, .3);
  margin-top: 13px;
}
 */
