.ProductItem img {
  max-width: 200px;
  object-fit: cover;
  object-position: center;


  box-shadow: 0 0 10px rgba(0, 0, 0, .3);
  z-index: 2;
}
.ProductItem {
  position: relative;
  /* /* flex: 0 0 30%; */
  margin-bottom: 5rem; 
  margin-top: 1rem; 
}
.ProductItem a {
  position: absolute;
  top: 15rem;
  padding-top: 0;
  right: 15px;
  left: 15px;
  border-radius: 50%;
  border-top-left-radius: 0;
  border-top-right-radius: 0;


  
  
  background-color: white;
  color: black;
  
  font-size: 16px;
  padding: 15px ;
  
  text-align: center;
  

  box-shadow: 0 0 10px rgba(0, 0, 0, .3);
}
.ProductItem .price {
  position: absolute;
  top: -0.8rem;
  z-index: 3;
  font-weight: bold;
  
  
  background-color: white;
  color: black;
 
  font-size: 1rem;
  padding: 0.8rem;
  text-align: center;
  border-radius: 50%;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, .3);
  margin-top: 13px;
}

