
 .ProductItem {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-top-left-radius: 30%;
  border-top-right-radius: 30%;
 
  margin: 8px;
  background-color: rgb(207, 201, 201);

 }
 .ProductItem img {

 border-radius: 20px 20px 0 0;
    max-width: 250px;
    width: 100%;
    height: 220px;
    display: block;
    

  clip-path: polygon(0 0,100% 0,100% 85%, 0 100%);
  
 }
 .container {
  padding: 15px;
 
}
.ProductItem a {
  color: black;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  font-family: "Louis Vuitton Web","Helvetica Neue","Helvetica",Arial,sans-serif;
  
  
}
.ProductItem a:hover {
  color: #e49936;
}
/* .price {
  color: black;
  text-decoration: none;
  font-family: "Louis Vuitton Web","Helvetica Neue","Helvetica",Arial,sans-serif;
  padding: 5px;
} */
.ProductItem .price {
  position: relative;
  
  z-index: 3;
  font-weight: bold;
  
  
  background-color: black;
  color: white;
 
  font-size: 1.2rem;
  padding: 0.8rem;
  text-align: center;
  border-radius: 50%;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, .3);
  margin-top: 13px;
}









/* .ProductItem img {
  max-width: 200px;
  object-fit: cover;
  object-position: center;


  box-shadow: 0 0 10px rgba(0, 0, 0, .3);
  z-index: 2;
}
.ProductItem {
  position: relative;
  /* /* flex: 0 0 30%;
  margin-bottom: 5rem; 
  margin-top: 1rem; 
  
}
.ProductItem a {
  position: absolute;
  top: 15rem;
  padding-top: 0;
  right: 15px;
  left: 15px;
  border-radius: 50%;
  border-top-left-radius: 0;
  border-top-right-radius: 0;


  
  
  background-color: white;
  color: black;
  
  font-size: 16px;
  padding: 15px ;
  
  text-align: center;
  

  box-shadow: 0 0 10px rgba(0, 0, 0, .3);
}
.ProductItem .price {
  position: absolute;
  top: -0.8rem;
  z-index: 3;
  font-weight: bold;
  
  
  background-color: white;
  color: black;
 
  font-size: 1rem;
  padding: 0.8rem;
  text-align: center;
  border-radius: 50%;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, .3);
  margin-top: 13px;
}
 */
