.Header {
  position: relative;
  margin-bottom: 5rem;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.Header img {
  width: 100%;
  max-width: 100%;
 
  
}
  
.Header .responsive  {
  
 width: 100%;
 max-height: 350px;
 height: auto
}
.Header section {
  position: absolute;
  top: 10px;
  left: 5rem;

  color: black;
  padding: 20px;

  background-color: transparent;

}
/* .Header .section-responsive {
  display: flex;
  flex-wrap: wrap;
} */
.Header h1 {
  font-size: 2.5rem;
  margin: 10px;
  
  
}
.Header span, h3 {
  color: #e49936;
}
.Header h3 {
  font-size: 15px;
  padding: 14px;
}
.Header p {
  padding: 15px;
}



  
 
  /* object-position: none;
  object-fit: none; */




.Products img {
  width: 100%;
  
 
} 
.Products .responsive {
 
  width: 100%;
  
  height: auto;
  max-height: 400px;
  

}
.Products section {
  
  width: 42%;
  position: absolute;
  left: 0;
  top: 1px;
 padding: 20px;
  background-color: rgba(255, 255, 255, 0.537);
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

 


