
.Header {
  position: relative;
  margin-bottom: 5rem;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.Header img {
  width: 100%;
  max-width: 100%;
 
  
}
  
.Header .responsive  {
  
 width: 100%;
 max-height: 350px;
 height: auto
}
.Header section {
  position: absolute;
  top: -10px;
  left: 5rem;

  color: black;
  padding: 20px;
  

  background-color: transparent;

}

.Header h1 {
  font-size: 2.5rem;
  margin: 10px;
  
  
}
.Header span, h3 {
  color: #e49936;
}
.Header h3 {
  font-size: 15px;
  padding: 14px;
}
.Header p {
  padding: 15px;
}





  
 
  /* object-position: none;
  object-fit: none; */




.Products img {
  width: 100%;
  
 
} 
.Products .responsive {
 
  width: 100%;
  
  height: auto;
  max-height: 400px;
  

}
.Products h1 {
   font-size: 2.5rem;
 
  
}
.Products section {
  
  width: 42%;
  position: absolute;
  left: 5rem;
  top: -17px;
  
 
  padding: 10px;
  color: black;
  background-color: transparent;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.Product img  {
  max-width: 300px;
  margin: 10px;
}




.Product h1  {

  max-width: 300px;
  position: relative;
  left: 20rem;

  font-size: 1.75rem;
  letter-spacing: 0;
  line-height: 2rem;
  font-weight: 500;
  color: inherit;
  border-bottom: 1px solid #bab7b1 ;
  border-top: none;

}

.Product p  {

  max-width: 300px;
  position: relative;
  left: 20rem;

  font-size: 1rem;
  letter-spacing: .025rem;
  line-height: 1.5rem;
  font-weight: 300;
  color: inherit;
  font-family: "Louis Vuitton Web","Helvetica Neue","Helvetica",Arial,sans-serif;
  color: #19110b;
}
.Product .price {
  font-size: 1rem;
  letter-spacing: .025rem;
  line-height: 1.5rem;
  font-weight: 300;
  color: inherit;
  font-family: "Louis Vuitton Web","Helvetica Neue","Helvetica",Arial,sans-serif;
  color: #19110b;
  margin-bottom: 10px;  
  border-bottom: 1px solid #bab7b1;
  
}


