.Header {
  position: relative;
  margin-bottom: 5rem;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.Header img {
  width: 880px;
  height: 350px;
  
}
  
.Header .responsive  {
  
 width: 100%;
 max-height: 350px;
 height: auto
}
 


  
 
  /* object-position: none;
  object-fit: none; */




.Products img {
  width: 50%;
  
  box-shadow: 0 0 10px rgba(0, 0, 0, .3);

}
.Products .responsive {
 
  width: 100%;
  max-width: 50%;
  height: auto;
  max-height: 350px;
  

}
.Products section {
  
  width: 42%;
  position: absolute;
  right: 0;
  top: 1px;
  height: 284px;
  background-color: rgb(237, 232, 232);
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

 
 
}

 


.Header section {
  /* position: absolute;
  bottom: -3rem;
  right: 2rem;
  max-width: 500px;
  margin-left: 2rem; */

  color: black;
  padding: 2rem;

  font-size: 1.2rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, .3);
}
.Header h1 {
  font-size: 2rem;
}