.Header {
  position: relative;
  margin-bottom: 0;

  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.Header img {
  width: 100%;
  max-width: 100%;
  height: 40vh;
  min-height: 370px;
  object-fit: cover;
  object-position: center;

  /* opacity:0.6;
   -moz-opacity:0.8;
  filter: alpha(opacity=80) black;
  -khtml-opacity: 0.8;
  background-color:rgb(53, 52, 52); */
}

.Header .responsive {
  width: 100%;
  max-height: 450px;
  height: auto;
}
.Header section {
  position: absolute;

  top: 20%;
  left: 1%;

  color: white;
  padding: 15px;
  margin: 10px;
  max-width: 40%;

  background-color: rgba(24, 23, 23, 0.423);
}

.Header h1 {
  padding: 0.5rem 3rem;
  color: #f2f2f2;
  font-size: 0.9rem;
  text-decoration: none;
  border-bottom: 3px solid transparent;
  font-family: Muli, sans-serif;

  font-weight: 400;
  letter-spacing: 1.82px;
  text-transform: uppercase;
}
.Header p {
  padding: 0.5rem 3rem;
  color: #f2f2f2;
  font-size: 0.8rem;
  text-decoration: none;
  border-bottom: 3px solid transparent;
  font-family: Muli, sans-serif;

  font-weight: 400;
  letter-spacing: 1.82px;
}
@media (max-width: 700px) {
  .Header section  {
    position: absolute;

    top: 15%;
    left: 7%;
  
    color: white;
    padding: 15px;
    margin: 10px;
    max-width: 80%;
  
  }
}
@media (max-width: 620px) {
  .Header section  {
    position: absolute;

    top: 15%;
    left: 7%;
  
    color: white;
    padding: 15px;
    margin: 10px;
    max-width: 80%;
  
  }
}

/*  */
.Products {
  position: relative;
  margin-bottom: 0;

  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.Products img {
  width: 100%;
  max-width: 100%;
  height: 30vh;
  min-height: 320px;
  object-fit: cover;
  object-position: center;

  /* opacity:0.6;
   -moz-opacity:0.8;
  filter: alpha(opacity=80) black;
  -khtml-opacity: 0.8;
  background-color:rgb(53, 52, 52); */
}

.Products .responsive {
  width: 100%;
  max-height: 450px;
  height: auto;
}
.Products section {
  position: absolute;

  top: 10%;
  left: 1%;

  color: white;
  padding: 15px;
  margin: 10px;
  max-width: 40%;

  background-color: transparent;
}

.Products h1 {
  padding: 0.5rem 3rem;
  color: #f2f2f2;
  font-size: 1.2rem;
  text-decoration: none;
  border-bottom: 3px solid transparent;
  font-family: Muli, sans-serif;

  font-weight: 400;
  letter-spacing: 1.82px;
  text-transform: uppercase;
}
.Products p {
  padding: 0.5rem 3rem;
  color: #f2f2f2;
  font-size: 0.8rem;
  text-decoration: none;
  border-bottom: 3px solid transparent;
  font-family: Muli, sans-serif;

  font-weight: 400;
  letter-spacing: 1.82px;
}

/*  */
.Product {
  background-color: white;
  
}
.Product img {
  width: 100%;
  max-width: 300px;
  margin: 20px;
  object-fit: contain;
  border: 2px solid black;
}
.Product section {
  position: relative;
  top: -25rem;

  left: 25%;
  background-color: #d2d1d0;
}

.Product h1 {
  max-width: 300px;
  position: relative;
  left: 20rem;

  font-size: 1.75rem;
  letter-spacing: 0;
  line-height: 2rem;
  font-weight: 500;
  color: black;
  border-bottom: 1px solid #bab7b1;
  border-top: none;
  font-family: Muli, sans-serif;
}

.Product p {
  max-width: 300px;
  position: relative;
  left: 20rem;

  font-size: 1rem;
  letter-spacing: 0.025rem;
  line-height: 1.5rem;
  font-weight: 300;
  color: inherit;
  font-family: Muli, sans-serif;

  color: black;
}
.Product .price {
  font-size: 1.1rem;
  letter-spacing: 0.025rem;
  line-height: 1.5rem;
  font-weight: 700;
  color: inherit;
  font-family: Muli, sans-serif;

  color: black;
  margin-bottom: 10px;
  border-bottom: 1px solid #bab7b1;
}

.Product section {
  background-color: transparent;
}
/*  */

.Contacts {
  background-color: #020202;
  font-family: Muli, sans-serif;
}
.Contacts img {
  max-width: 500px;
  width: 100%;
  transition: all 1s ease-in-out;
  transform: scale(1);
  vertical-align: middle;
  border-style: none;
  margin: 10px;
  margin-top: 50px;
}
.Contacts h1 {
  position: relative;
  top: -10rem;
  font-size: 1rem;
  border-left: 1px solid white;
}
.Contacts p {
  position: relative;
  top: -5rem;
  right: -32rem;
  font-size: 0.7rem;
  line-height: 1.5rem;
}
.Contacts section {
  background-color: transparent;
}

/*  */

.Category img {
  min-height: 270px;
}
.Category section {
  background-color: transparent;
  color: black;
}

.Category h1 {
  color: black;
  font-size: 1rem;
  position: relative;
  top: -4rem;
}
.Category p {
  color: black;
  font-size: 0.6rem;
  position: relative;
  top: -4rem;
}
