
.Header {
  position: relative;
  margin-bottom: 5rem;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.Header img {
  width: 100%;
  height: 40vh;
  min-height: 420px;
  object-fit: cover;
  object-position: center;
  

 
  
}
  
.Header .responsive  {
  
 width: 100%;
 max-height: 450px;
 height: auto
}
.Header section {
  position: absolute;
  
  top: 4rem;
  left: 10rem;

  color: white;
  padding: 10px;
  margin: 10px;
  width: 60%;
  

  background-color: rgba(255, 255, 255, 0);
 

}

.Header h1 {
  font-size: 34px;
  margin: 10px;
  color: #fff;
  font-weight: normal;
  text-align: center;
  font-family: "Avenir-Roman",sans-serif;

}
.Header p {
  padding: 15px;
  
  color: #fff;
  font-size: 18px;
  font-weight: normal;
  text-align: center;
  font-family: "Avenir-Roman",sans-serif;
  
}
/* .Header span, h3 {
  color: #e49936;
} */
/* .Header h3 {
  font-size: 16px;
  padding: 14px;
} */


/* @media (max-width: 600px) {
  .Header h1,p {
    font-size: 30px;
   
  }
} */



  
 
  /* object-position: none;
  object-fit: none; */




.Products img {
  width: 100%;
  
 
  
 
} 
.Products .responsive {
 
  width: 100%;
  
  height: auto;
  max-height: 400px;
  

}
.Products h1 {
  font-size: 35px;
   padding: 15px;
  
   color: #fff;
   
   font-weight: normal;
   text-align: center;
   font-family: "Avenir-Roman",sans-serif;

 
}
.Products p {
  padding: 15px;
  
  color: #fff;
  font-size: 18px;
  font-weight: normal;
  text-align: center;
  font-family: "Avenir-Roman",sans-serif;
  
}
.Products section {
  
  position: absolute;
  
  top: 4rem;
  left: 10rem;

  color: white;
  padding: 10px;
  margin: 10px;
  width: 100%;
  max-width: 60%;
  

}
.Product img  {
  max-width: 300px;
  margin: 20px;
  
  
}




.Product h1  {

  max-width: 300px;
  position: relative;
  left: 20rem;

  font-size: 1.75rem;
  letter-spacing: 0;
  line-height: 2rem;
  font-weight: 500;
  color: white;
  border-bottom: 1px solid #bab7b1 ;
  border-top: none;

}

.Product p  {

  max-width: 300px;
  position: relative;
  left: 20rem;

  font-size: 1rem;
  letter-spacing: .025rem;
  line-height: 1.5rem;
  font-weight: 300;
  color: inherit;
  font-family: "Louis Vuitton Web","Helvetica Neue","Helvetica",Arial,sans-serif;
  color: white;
}
.Product .price {
  font-size: 1rem;
  letter-spacing: .025rem;
  line-height: 1.5rem;
  font-weight: 300;
  color: inherit;
  font-family: "Louis Vuitton Web","Helvetica Neue","Helvetica",Arial,sans-serif;
  color: white;
  margin-bottom: 10px;  
  border-bottom: 1px solid #bab7b1;
  
}



.Product section {
 background-color: transparent;




}
