.CartItem {
  display: flex;
  background-color: #020202;
  border: 2px solid white;
  padding: 10px;
  justify-content: center;
} 
.CartItem img {
  width: 100%;
  max-width: 250px;
  margin: 10px;
  border-radius: 10px;
}
.CartItem .text {
  margin: 15px;
  font-family: Muli, sans-serif;
  color: white;
  max-width: 300px;
  width: 100%;
 
}
.CartItem .title a {
  text-decoration: none;
  margin: 15px;
  color: white;
  ;
  font-size: 1.5rem;
  border-bottom: 1px solid white;


}
.CartItem .subtotal{
  text-decoration: none;
  margin: 15px;
  color: white;
  ;
  border-bottom: 1px solid white;


}
.CartItem .delete{
 margin: 10px;
 position: relative;
 right: 10px;
 top: 8px;


}
.CartItem .quantity {
  margin: 15px;

  border-bottom: 1px solid white;
}
.CartItem button {
  background-color: white;
  ;
  color: black;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;
  
}
