.Footer {
  background-color: #020202;
  padding: 1rem;
  text-align: center;
  color: white;
  font-family: Muli, sans-serif;
  font-size: 1rem;
}
.Footer p {
  font-size: 0.8rem;
}

.Footer .container {
  display: flex;
  justify-content: space-between;
  padding: 10px 40px 10px 40px;
}
/* #9E9764 */
.Footer .footerLogo {
  width: 30%;
  color: white;
  font-family: Muli, sans-serif;
  font-size: 17px;
  font-weight: 400;
  letter-spacing: 2.38px;
  line-height: 49px;
  text-transform: uppercase;
  white-space: nowrap;
  text-decoration: none;
  padding: 10px;
  position: relative;
  top: -10px;
  left: -8px;
}
.Footer .text {
  width: 60%;
  text-align: left;
}
.Footer .text a {
  color: white;
  font-family: Muli, sans-serif;
  font-size: 17px;
  font-weight: 400;
  letter-spacing: 2.38px;
  line-height: 49px;
  text-transform: uppercase;
  white-space: nowrap;
  text-decoration: none;
  padding: 10px;
}
.Footer .text p {
  position: relative;
  bottom: -8px;
  padding: 10px;
  line-height: 20px;
}
.Footer .text a:hover {
  text-decoration: underline;
}
.Footer .footerIcon {
  position: relative;
  bottom: -10px;
  left: -8px;
  padding: 10px;
}
.Footer .empty {
  width: 20%;
}
@media (max-width: 620px) {
  .Footer p {
    font-size: 0.6rem;
  }
  .Footer .footerLogo {
    font-size: 0.8rem;
    position: relative;
    top: -20px;
    right: -25px;
    width: 0;
  }
  .Footer .text a {
    position: relative;
    bottom: -25px;
    font-size: 0.8rem;
  }
  .Footer .text {
    padding: 5px;
  }
}
@media (max-width: 740px) {
  .Footer .footerLogo {
    font-size: 0.8rem;
    position: relative;
    top: -10px;
  }
}
