.NavItem a {
  display: block;
  padding: 0.5rem 3rem;
  color: black;
  font-size: 18px;
  text-decoration: none;
  border-bottom: 3px solid transparent;
  
  
}
.NavItem a.active {
  border-color:  rgb(196, 18, 48);
}
.NavItem a:hover {
  color:  rgb(196, 18, 48);

}
@media (max-width: 620px) {
  .NavItem a {
    border-bottom: none;
    border-right: 5px solid transparent;
  }
} 