.NavItem a {
  display: block;
  padding: 0.5rem 3rem;
  color: #f2f2f2;
  font-size: 0.8rem;
  text-decoration: none;
  border-bottom: 3px solid transparent;
  font-family: Muli, sans-serif;

  font-weight: 400;
  letter-spacing: 1.82px;
  text-transform: uppercase;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}
.NavItem a.active {
  border-color: white;
}
.NavItem a:hover {
  color: rgb(183, 179, 180);
}
@media (max-width: 620px) {
  .NavItem a {
    border-bottom: none;
    border-right: 5px solid transparent;
  }
}
@media (max-width: 780px) {
  .NavItem a {
    font-size: 0.7rem;
  }
}
