.Nav {
  background-color:  #9E9764 ;
  color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, .3);
}
.Nav .container {
  display: flex;
  align-items: center;
  justify-content: center;
 
  /* flex-wrap: nowrap;
  padding-bottom: 0.2rem;
  margin-top: -1px;
  
  text-align: center;
  height: 2.75rem; */
 
  
}
.Nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}
.Nav .logo {
  display: flex;
  justify-content: center;
  /* padding: 15px;
  font-size: 2.25rem;
  height: 1rem;
  
  line-height: 1; */
}